*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*for image*/
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
.top-left {
    position: absolute;
    top: 16px;
    left: 32px;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: red;
  }